<% if @valor_por_kg_produto.present? %>
  <h2>Resultado:</h2>
  <p>Valor por Quilograma do Produto 1: <%= @valor_por_kg_produto %></p>

  <h3>Valor do Produto 1 digitado pelo cliente:</h3>
  <p><%= @produto1_valor %></p>
<% end %>
